.dark {
  background-color: black;
  color: white;
}
.dark .panel-body {
  background-color: black;
  color: white;
}
.dark .jumbotron {
  background-color: grey;
  color: white;
}
.dark .bg-success {
  background-color: black;
  color: green;
}
.dark .bg-primary {
  background-color: black;
  color: teal;
}
.dark .bg-info {
  background-color: black;
  color: lightblue;
}
#make-light {
  display: none;
}
.warm {
  background-color: #ffcc99;
  color: black;
}
.cool {
  background-color:#66a3ff;
  color: black;
}
